<!DOCTYPE html><html>
    <head>
    <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lexend&display=swap" rel="stylesheet" />
    <link href="./static/pred.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Document</title></head><body><div class="v1_97">
    <div class="v1_98"><div class="v1_99">
    <div class="v1_100"></div><span class="v1_101">How It works</span><div class="v1_102">
        <div class="v1_103"></div><span class="v1_104">1</span><span class="v1_105">Click Assess now</span>
        <span class="v1_106">On this  you will predict your  diabetes or Hyper
tensions by clicking on the Predict now button 
below each suspected Health issue</span><span class="v1_107">On this  you will predict your  diabetes or Hyper
tensions by clicking on the Predict now button 
below each suspected Health issue</span>
<span class="v1_108">On this  you will predict your  diabetes or Hyper
tensions by clicking on the Predict now button 
below each suspected Health issue</span><span class="v1_109">On this  you will predict your  diabetes or Hyper
tensions by clicking on the Predict now button 
below each suspected Health issue</span>

<span class="v1_110">Fill the Details </span><span class="v1_111">Wait for The Results</span>
<span class="v1_112">View Your Resulst/ Recommendations</span>
</div>
<div class="v1_113"><div class="v1_114"></div><span class="v1_115">2</span>
</div>
<div class="v1_116">
    <div class="v1_117"></div><span class="v1_118">3</span></div><div class="v1_119"><div class="v1_120"></div>
    <span class="v1_121">4</span></div>
    <div class="name"></div><div class="name"></div>
    <div class="name"></div><div class="name"></div>
</div>
<span class="v1_126">Welcome {{ username }}!</span>
<span class="v1_127">Prioritize Your Health</span>
<div class="v1_128">
    <span class="v1_129">Diabetes</span>
    <span class="v1_130">Diabetes is a chronic metabolic disorder characterized by high blood sugar levels resulting from either insufficient insulin production or the body's inability to use insulin effectively. It can lead to serious complications affecting various organs and systems, including the heart, kidneys, eyes, and nerves.</span>
    <span class="v1_131">Explore Diabetes !</span>
    
    <div class="v1_132"><span class="v1_133"><a href="{{ url_for('diabetes') }}">Assess Now</a></span>
    </div>
    <div class="v1_134"></div>
</div>
<div class="v1_135"><span class="v1_136">HyperTension</span>
        <span class="v1_137">Hypertension, commonly known as high blood pressure, is a condition where the force of blood against the artery walls is consistently elevated, increasing the risk of cardiovascular diseases such as heart attack and stroke.</span>
    <span class="v1_138">Explore Hypertension !</span>
    <div class="v1_139">
        <span class="v1_140" style="color: black"><a href="/hypertension">Assess Now</a></span></div>
    <div class="v1_141"></div></div>
   <!-- <div class="v1_142">
        <div class="dropdown">
            <span class="v1_143">Profile</span>
            <div class="dropdown-content">
                <a href="#">User Profile</a>
                <a href="#">Results History</a>
                <a href="#">Logout</a>
            </div>
        </div>
        <div class="v1_144"> </div>
        <div class="v1_145"><span class="v1_146">fill in the form</span>
        </div><div class="v1_147"><span class="v1_148">Results</span></div>
        <span class="v1_149">Predictions</span><div class="v1_150"></div>
        <div class="v1_151"></div>
    </div>
</div>
</div>-->
<div class="header">
    <div><a href="/ ">Home</a></div>

    <div class="profile-dropdown">
      <span>Profile</span>
      <div class="dropdown-content">
        <a href="#">User Details</a>
        <a href="{{ url_for('results_history') }}">Results History</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>
  </div>
    </div>
    </div>
</body>
</html>